/* add dollar sign in console code-block */
div.highlight-console pre span.go::before {
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;*/
    content: "$";
    margin-right: 10px;
    margin-left: 5px;
}

/* make the footer inline */
.footer-item {
  display: inline-block;
}
.footer-item:not(:last-child) {
  border-right: 1px solid var(--pst-color-text-base);
  margin-right: 0.5em;
  padding-right: 0.5em;
}